*{
	padding: 0;
	margin: 0;
	font-family: 'Space Grotesk', sans-serif;
}

body{
	background-color: rgb(68, 81, 97);
}

h1{
	font-size: 5em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.3em;
}
p{
	font-size: 1.3em;
}


nav{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-top: 1vh;
	height: 10vh;
}

a:link, a:visited, a:hover{
	color: rgb(132, 157, 120);
	background-color: transparent;
  	text-decoration: none;
	font-size: 2em;
}

a:hover{
	color: rgb(55, 39, 61);
	cursor: pointer;
}

#title{
	margin: 10vh 0;
	text-align: center;
	color: rgb(29, 27, 36);
}
#about, #projects, #experience, #skills{
	padding: 5% 20%;
	color: rgb(15, 14, 18);
}
#about p{
	line-height: 2;
}


.section-title{
	text-align: center;
}
.sub-section-title, .sub-sub-section-title{
	margin-top: 5%;
	margin-bottom: 1%;
	font-family: 'Megrim', cursive;
	font-weight: 700;
}

.company-name{
	font-family: 'Megrim', cursive;
	font-weight: 700;
	margin-bottom: 1%;
}

.content{
	padding: 5% 20%;
	text-align: center;
}

.content-img{
	border-radius: 5em;
	margin: 10%;
}
